body {
  margin: 0;
}

.section {
  border: 1px solid black;
  padding: 1rem;
  margin: 0.5rem;
}

.problem-input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.problems-section {
  flex: 1;
}

.input-section {
  flex: 1;
}

@media (max-width: 768px) {
  .problem-input-container {
    flex-direction: column;
  }
}

.main-title {
  text-align: center;
}
    
.main-title p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}